body
{
    overflow:hidden;
    transition: all 0.5s;
}

div
{
    background: transparent;
}
.bg-App
{
	background:transparent;
	position:relative;
	color:#ffffff;
    background-image:url("../images/ezback2.jpg");
	background-attachment:fixed;
	background-size:cover;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:-1;
}

.bg-green
{
    background-color:darkgreen;
}
.bg-darkGray
{
    background-color:#505050;
}
.bg-fixed
{
    background-attachment:fixed;
    position:fixed;
}
.active-navigate-nav
{
    border-bottom:1px Solid #00f;
    /*background-color:#303030;*/
}
        *
        {
            box-sizing: border-box;
        }
        .title-bar
        {
            position:fixed;
            height:100px;
/*            background-color:rgb(51,185,17);*/
            color:#fff;
            text-shadow:1px 1px #f0f0f0;
            padding:10px;
            font-size:25px;
            box-shadow:0px 5px 3px #ccc;
        }
        .footer
        {
            position:fixed;
            bottom:0%;
        }
        .add-button
        {
            color:#fff;
            border:2px Solid #008000;
            border-radius:50%;
            margin:20px;
        }
        .tabs
        {
            font-size:20px;
            color:#a0a0a0;
            bottom:0%;
        }
        .active-now
        {
            color:#fff;
            text-shadow: 0px 1px #f0f0f0;
            border-bottom:2px solid #fff;
        }
        .linked-user
        {
            background-color: rgb(247,247,247);
            border-radius:5%;
            box-shadow: 0px 0px 2px 2px #c0c0c0;
            margin-top:5px;
            margin-bottom:5px;
            padding:10px;
            height:75px;
        }
        .name-details
        {
            
        }
        .fill-height
        {
            height:100%;
        }
        .name-text
        {
            font-size:20px;
            color:#000;
            
        }
        .dev-text
        {
            font-size:15px;
            color:#404040;
        }
        .alert-light
        {
            font-size:50px;
        }
        .red-danger
        {
            color:rgb(204,0,0);
        }
        .green-fine
        {
            color:#008000;
        }
        body
        {
            overflow-x:hidden;
            overflow-y:scroll;
        }
        .border-danger
        {
            border:2px solid rgb(204,0,0);
        }
